@tailwind preflight;
@tailwind components;
@tailwind utilities;

html {
  background-color: #DAE1E7;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none;
}

.icon-spin {
  -webkit-animation: icon-spin 3s infinite linear;
  animation: icon-spin 3s infinite linear;
}

.icon-spin {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EF5753;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 4s linear infinite; /* Safari */
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dash-base-width {
  width: 22rem;
}

.pie {
  width: 22rem;
  height: 22rem;
}

.text-6xl {
  font-size: 4.5rem;
}
